@import "../../mixins.scss";

.usernav {
    display: flex;
    align-items: center;

    &__user {
        font-size: 0.8em;
        margin-right: 0.5em;

        @media (min-width: 650px) {
            margin-right: 1em;
        }
    }

    &__button {
        @include BUTTON();
    }
}
