@import "../../mixins.scss";

.footer {
    height: var(--footer-height);
    position: sticky;
    bottom: 0;
    padding: 1em 2em;
    background: var(--color-grey-light);
    width: 100%;
    box-shadow: 0 -1em 2em var(--color-grey-dark-opacity);

    @media (max-width: 650px) {
        display: none;
    }
}
